<form #formularioRegistro="ngForm" (ngSubmit)="ingresarUsuario(formularioRegistro)">
  <h4>ESTADOS FORMULARIO</h4>
  <pre>
    valid:{{formularioRegistro.valid}}
    invalid:{{formularioRegistro.invalid}}
    pristine:{{formularioRegistro.pristine}}
    dirty:{{formularioRegistro.dirty}}
    touched:{{formularioRegistro.touched}}
    untouched:{{formularioRegistro.untouched}}
  </pre>
  <h4>ERRORES FORMULARIO</h4>
  <pre>
    {{formularioRegistro.errors | json}}
  </pre>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
    [(ngModel)]="email" name="email" required #emailInput="ngModel" pattern="^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$">

    <div class="alert alert-primary" role="alert" *ngIf="emailInput.errors && emailInput.dirty">
      <span *ngIf="">

      </span>
      Error de Correo
    </div>
    <h5>ESTADOS DEL CAMPO</h5>
    <pre>
    valid:{{emailInput.valid}}
    invalid:{{emailInput.invalid}}
    pristine:{{emailInput.pristine}}
    dirty:{{emailInput.dirty}}
    touched:{{emailInput.touched}}
    untouched:{{emailInput.untouched}}
  </pre>

    <H5>ERRORES DEL CAMPO</H5>
    <pre>
    {{emailInput.errors | json}}
  </pre>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

