<!--
<div class="row">
  <div class=" col-sm-12">
    <h1>Bindings</h1>
    <h3>Propierty bindings []</h3>
    <img [src]="imagenUrl" [alt]="'Imagen del Mundial'" [width]="imagenWidth">
    <p [style.color]="'blue'"
       [style.background-color]="'yellow'"
       [innerText]="'Hola amigos'">
    </p>
    <!--<div [innerHTML] = "html" ></div>-->
<!--
    <h3>Event bindings ()</h3>
    <button
      class="btn btn-block btn-info"
      (click)="imagenWidth = imagenWidth + 20">
      Aumentar imagen
    </button>

    <h1 (mouseenter)="imagenWidth = imagenWidth - 10">
      restar
    </h1>

    <button
    class="btn btn-info btn-block"
    (click)="imagenWidth = imagenWidth - 10">
    Restar imagen
    </button>

    <h3>NgModel (two way data bindings) [()]</h3>
    <label for="width">Width</label>
    <input id="width" type="text" [(ngModel)]="imagenWidth">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <br>
    <h1 class="text-center">
      Hola
      <span *ngIf="mostrarTitulo">{{titulo}}</span>
    </h1>
    <p>
      soy el usuario {{usuario.nombre + ' ' + usuario.apellido}} {{1+10}}
    </p>
    <ul>
      <li *ngFor="let numero of arregloNumeros; let i=index">
        {{i+1}} .- Valor del numero {{numero}}
      </li>
    </ul>
  </div>
  <div class="col-sm-4"></div>
</div>
-->


<h1>Componente seleccion</h1>

<div *ngIf="mostrarComponente">
  <app-seleccion
    [contador]="contadorDesdePapa"
  >
  </app-seleccion>
</div>

<button class="btn btn-success"
        (click)="contadorDesdePapa = contadorDesdePapa + 1"
>
  Aumentar valor de contador
</button>

<button class="btn btn-info"
        (click)="mostrarComponente = !mostrarComponente"
>
  Cambiar mostrar seleccion
</button>



